---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Access"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('Octover 07 2024')}
>
  <p>Nihon University CHS (College of Humanities and Sciences) Campus is located near the central Tokyo area. It is only a 10-min train ride + a 10-min walk from Shinjuku Station!</p>
  <p><a href="https://chs.nihon-u.ac.jp/english/access/" target="_blank">https://chs.nihon-u.ac.jp/english/access/</a></p>
  <p>Nihon University has multiple campuses, but please note that the venue is located at the campus in <strong>Setagaya Ward</strong>. Be careful not to go to the wrong one.</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.6072254411715!2d139.63151741182392!3d35.66204757247913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f3b13c292825%3A0xf165609a7ee98ba!2z5pel5pys5aSn5a2m5paH55CG5a2m6YOo44O75aSn5a2m6Zmi5paH5a2m56CU56m256eR44O757eP5ZCI5Z-656SO56eR5a2m56CU56m256eR!5e0!3m2!1sja!2sjp!4v1756252697056!5m2!1sja!2sjp" width="720" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</Layout>
