---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Access"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('Octover 07 2024')}
>
  <strong>Venue: <a href="https://maps.app.goo.gl/NT265wMtKNSMN1rz8">Centennial Memorial Hall of College of Humanities and Sciences, Nihon University</a></strong><br />
  <img src="/entrance.jpg" width="480" />
  <p>Nihon University CHS (College of Humanities and Sciences) Campus is located near the central Tokyo area. It is only a 10-min train ride + a 10-min walk from Shinjuku Station! 
  Please sea the University's website <a href="https://chs.nihon-u.ac.jp/english/access/" target="_blank">https://chs.nihon-u.ac.jp/english/access/</a>
	and details on how to get there have already been sent to participants via email. </p>
  <p>Nihon University has multiple campuses, and this event will be held at the campus located in <strong>Setagaya City</strong>. Please be careful not to go to the wrong location.</p>
  <p>Please note that Google Maps may guide you to the back entrance. Be sure to enter from the front entrance on main street (Nichidai Street).</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1620.7790217745212!2d139.633867!3d35.663259!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f3b0d55d43bf%3A0xa0aef7e6bcee1a4b!2z5pel5pys5aSn5a2m5paH55CG5a2m6YOoIOeZvuWRqOW5tOiomOW_temkqA!5e0!3m2!1sja!2sjp!4v1756259800812!5m2!1sja!2sjp" width="720" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</Layout>
