---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Access"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('Octover 07 2024')}
>
  <p>Nihon University CHS (College of Humanities and Sciences) Campus is located near the central Tokyo area. It is only a 10-min train ride + a 10-min walk from Shinjuku Station!</p>
  <p><a href="https://chs.nihon-u.ac.jp/english/access/" target="_blank">https://chs.nihon-u.ac.jp/english/access/</a></p>
</Layout>
