---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Attending"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('May 20 2025')}
>
<ul>
	<li><a href="/registration">Registration</a></li>
	<li><a href="/access">Access</a></li>
</ul>  

</Layout>
