---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Authors"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('May 20 2025')}
>
<ul>
	<li><a href="/cfp">CFP</a></li>
	<li><a href="/workshops">Workshops</a></li>
</ul>  

</Layout>
