---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Awards"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('Sep 1 2025')}
>

<!-- <h3>Journal Paper</h3> -->
<h4>Best Journal Paper</h4>
<p><strong>Jukka Vahlo, Suvi K. Holm, Johanna K. Kaakinen and Aki Koponen</strong>: Exploring Game-Based Psychological Empowerment and Its Motivational and Wellbeing Effects</p>

<h4>Honorable Mention for Journal Paper</h4>
<p><strong>Gary Lee Wagener, Elisabeth Holl and André Melzer</strong>: Testing Positive Mood Effects of Playing Gris, a Eudaimonic Video Game</p>

<!-- <h3>Full Conference Paper</h3> -->
<h4>Best Full Conference Paper</h4>
<p><strong>Afro Ambanelli, Paolo Ciancarini, Angelo Di Iorio, Davide Falessi, Andrea Manzo and Massimo Venuto</strong>: Fewer Draws, More Fun: Searching for Unbalanced Positions in Chess</p>

<h4>Honorable Mention for Full Conference Paper</h4>
<p><strong>Melina Rose, Alessandra Antonaci, Martin Bonnet and Roland Klemke</strong>: Learning success, engagement and fun: Evaluating an educational game in higher education as replacement for a homework assignment.</p>

<!-- <h3>Work-in-Progress</h3> -->
<h4>Best Work-in-Progress Paper</h4>
<p><strong>Toshiro Kashiwagi and Kumiyo Nakakoji</strong>: Designing Physically Fiction: Suspension of Disbelief in Interaction with MR Environments</p>

<!-- <h3>Interactive Entertainment Showcase</h3> -->
<h4>Best Interactive Entertainment Showcase</h4>
<p><strong>Kaimu Harada and Sachiko Kodama</strong>: Development of a Dialogue Agent System Expressed in a Two-Dimensional Manga-Anime Style and Design of the Original Artificial Intelligence Character “Kohane”</p>

<!-- <h3>Student Competition</h3> -->
<h4>Best Student Competition – Committee Award</h4>
<p><strong>Wanosuke Ito and Rion Yukino</strong> (supervisor: Akihiro Matsuura): A VR System for Detecting Static Electricity as Invisible Creature</p>

<h4>Best Student Competition – Audience Award</h4>
<p><strong>Jules van Gurp</strong> (supervisor: Erik van der Spek): Asymmetric VR Game Heist Extravaganza</p>


</Layout>