---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Call for Workshop Proposals"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('January 10 2025')}
>


<p>The 24th IFIP INTERNATIONAL CONFERENCE ON ENTERTAINMENT COMPUTING<br />
Nihon University, Tokyo, JAPAN<br />
<a href="https://icec2025.entcomp.org/">https://icec2025.entcomp.org/</a></p>

<p>The International Conference on Entertainment Computing (IFIP-ICEC 2025) invites proposals for workshops to be held in conjunction with the main conference. Workshops provide a unique forum for researchers, practitioners, and industry professionals to explore and discuss emerging topics within the field of entertainment computing. We welcome workshop proposals on a wide range of subjects related to entertainment computing, including but not limited to:</p>
<ul>
    <li>Virtual and Augmented Reality</li>
    <li>Serious Games and Gamification</li>
    <li>Interactive Storytelling</li>
    <li>Human-Computer Interaction in Entertainment</li>
    <li>Artificial Intelligence and Machine Learning in Entertainment</li>
    <li>Digital Arts and Creativity</li>
    <li>Social and Ethical Aspects of Entertainment Technologies</li>
    <li>Interactive Media and Multimedia Applications</li>
</ul>

<h4>Submission Guidelines:</h4>
<p>Prospective workshop organizers are invited to submit a proposal that includes the following information:</p>
<ul>
    <li>Workshop or tutorial title and short abstract (max. 50 words).</li>
    <li>Workshop summary, short review of state of the art, motivation, and goals.</li>
    <li>Workshop format (an activity plan and its rationale towards the goals).</li>
    <li>Workshop format for participant enrollment (e.g. position papers, prior expression of interest, or other applicable requirement for planning and organization).</li>
    <li>Profile of participants (and estimated number of participants).</li>
    <li>Contact of the organizers (name, affiliation, address, phone, email).</li>
    <li>Short but relevant bio information of the organizers.</li>
    <li>Expected workshop outcomes (proceedings, special issue of journals, project proposals, etc.).</li>
    <li>Any special technical or logistical requirements for the workshop.</li>
</ul>

<p>The submission process for Workshop Proposals will be conducted via EasyChair at the following link:<br />
<a href="https://easychair.org/my/conference?conf=icec20250" target="_blank">https://easychair.org/my/conference?conf=icec20250</a></p>

<h4>Important Dates:</h4>
<ul>
    <li>Workshop Proposal Submission Deadline: <strong>14th February 2025</strong></li>
    <li>Notification of Acceptance: <strong>14th March 2025</strong></li>
</ul>
<p>The proposed workshops will be held on <strong>27th August 2025</strong>, although this date may be subject to change. They can be scheduled for either a <strong>half-day (4 hours)</strong> or a <strong>full day (8 hours)</strong>. These workshops are open to all <strong>IFIP-ICEC attendees</strong> at no additional cost, regardless of whether they have submitted contributions.</p>
<p>Authors of workshop proposals are expected to submit a paper of up to <strong>6 pages</strong> (excluding references) in the <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines" target="_blank">Springer LNCS format</a> by the specified submission deadline.</p>

<h4>Proceedings</h4>
<p>In addition to the workshop proposals, organizers are kindly invited to consider extending the content of their workshops into full-length papers for submission within the main paper track of IFIP-ICEC 2025 to be included in the proceedings. This provides an excellent opportunity for workshop participants to contribute their insights and findings to the broader conference audience.</p>


<p>We look forward to receiving your innovative workshop proposals and to hosting a diverse and engaging set of workshops at IFIP-ICEC 2025.</p>

<p>Conference Website: <a href="https://icec2025.entcomp.org/" target="_blank">https://icec2025.entcomp.org/</a></p>

<h4>Workshop chairs</h4>
<ul>
    <li>Andreia Formico (UNIFOR, Brazil)</li>
    <li>Yuta Sugiura (Keio University, Japan)</li>
</ul>

<h4>Contact</h4>
<p>icec2025-trackemail [at] easychair.org</p>


</Layout>
