---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Journal Track"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('January 10 2025')}
>

<p>We are pleased to offer a journal track submission for IFIP-ICEC 2025, in addition to the usual full papers track. Full papers are the main media for presenting high impact, mature research with original new results. Submissions should describe novel, mature, unpublished work addressing one or more of the research topics listed.</br>
Authors can choose to submit Full Papers for the prestigious <a href="https://www.sciencedirect.com/journal/entertainment-computing" target="_blank">Elsevier Entertainment Computing Journal (ENTCOM)</a>. Journal submissions will undergo a double-blind review process. If accepted for the journal, the papers will follow the Elsevier editorial process and will be published at a later date. Authors will be invited to present their paper in the conference.</p>


<p><strong>The review outcome in this track before rebuttal is one of the following:</strong></p>
<ul>
    <li>1 - accept</li>
    <li>2 - accept with minor changes</li>
    <li>3 - preliminary accept with major changes (resubmission for the conference track)</li>
    <li>4 - reject</li>
</ul>

<p>
Papers in categories 1 and 2 can be accepted to the special issue, provided they do the requested changes in time. Papers in category 3 will not be able to be accepted for the special issue, but Guest Editors will propose a subset of changes in order to be accepted to the conference track. However, beware that we anticipate very few papers from category 3 to be accepted to the conference. For this reason, we strongly suggest authors submit to this track only their mature results. Papers in category 4 will not be accepted and they will be asked to resubmit.</br>
For more details on the journal submission, refer to the <a href="https://www.sciencedirect.com/journal/entertainment-computing/publish/guide-for-authors" target="_blank">guide to authors</a> in the ENTCOM's website.</br>
The submission website for this journal is located at: <a href="https://www.editorialmanager.com/entcom/default2.aspx" target="_blank">editorialmanager.com/entcom/default2.aspx</a></br>
Please select “VSI: IFIP ICEC 2025” as the name of the special issue when manuscripts are uploaded.
</p>

<h4>Important Dates:</h4>
<ul>
    <li>Final date to submit a Journal Paper: <strong>24th January, 2025</strong></li>
    <li>Notification to authors: <strong>7th March, 2025</strong></li>
    <li>Rebuttal from authors: <strong>9th May, 2025</strong></li>
    <li>Final decision about journal papers: <strong>6th June, 2025</strong></li>
    <li>Camera ready: <strong>30th May, 2025</strong></li>
</ul>

<h4>Aims</h4>
<p>IFIP TC14 aims to encourage research, development and sharing of innovative ideas, models and practices, on computer applications in entertainment. To enhance computation and use studies in this field, the technical program committee invites original submissions.</p>

<h2>Topics</h2>
    <p>Topics can include but are not limited to:</p>

    <h4>1. Design and Analysis</h4>
    <p>
        Game Design: Theory, Creation & Testing<br>
        Interactive Narratives & Digital Storytelling<br>
        Entertainment Robots, Toys & Smart Gadgets<br>
        Social Media / Social Computing Entertainment<br>
        New Genres of Interactive & Digital Entertainment
    </p>

    <h4>2. Digital Art & Installations</h4>
    <p>
        Controllers for Musical Expression<br>
        Music Collaboration Tools<br>
        Public Interactive Art Installations<br>
        Interactive Art, Performance and Novel Interactions
    </p>

    <h4>3. XR Entertainment</h4>
    <p>
        Virtual/Augmented/Mixed Reality & Games<br>
        Ubiquitous/Pervasive Entertainment<br>
        TransMedia Storytelling<br>
        Metaverse Entertainment
    </p>

    <h4>4. Serious Games</h4>
    <p>
        Games for Learning, Health & Well-Being<br>
        Games For Change & Social Impact Games<br>
        Exergaming<br>
        Advergames and Digital Marketing
    </p>

    <h4>5. Inclusivity of Gaming and Interactive Entertainment</h4>
    <p>
        Game Accessibility Hardware<br>
        Guidelines for Inclusive Design<br>
        Special Needs Considerations<br>
        Theoretical Foundations and Ethical Issues
    </p>

    <h4>6. Experiential Aspects in Entertainment</h4>
    <p>
        Emotions and Affective Interaction<br>
        Theoretical Basis of Entertainment<br>
        Social / Cultural Impacts of Digital Entertainment<br>
        Entertainment for Purpose & Persuasion
    </p>

    <h4>7. Computational Methodologies for Entertainment</h4>
    <p>
        Artificial Intelligence & Machine Learning for Entertainment<br>
        Procedural Content Generation<br>
        Computer Graphics & Visual Effects<br>
        Big Data in Entertainment<br>
        Security & Privacy in Entertainment<br>
        Algorithmic research on board and card games<br>
        New types of entertainment using information technologies<br>
        Hardware technology research and development to implement entertainment systems<br>
        Non-traditional human interface technologies for entertainment
    </p>

<h2>Guest Editors</h2>
<ul>
    <li>Pablo Figueroa (Universidad de los Andes, Colombia)</li>
    <li>Angelo Di lorio (University of Bologna, Italy)</li>
    <li>Maki Sugimoto (Keio University, Japan)</li>
</ul>


</Layout>
