---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Conference Track"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('February 11 2025')}
>

<p>Full conference papers are the main media for presenting high impact research with original new results. 
Submissions should describe novel unpublished work addressing one or more of the research topics listed.</p>


<p>All contributions have to be submitted via <a href="https://easychair.org/my/conference?conf=icec20250" target="_blank">EasyChair</a> (anonymized for double-blind review).
The required format for all papers is the <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines" target="_blank">Springer LNCS format</a></p>

<p>Papers Length: max 12 pages (excluding references)</p>

<h4>Important Dates:</h4>
<ul>
    <li>Final date to submit a Conference Paper: <del>17th</del><strong>31st March, 2025</strong></li>
    <li>Notification to authors: <del>9th</del><strong>12th May, 2025</strong></li>
    <li>Camera ready: <strong>30th May, 2025</strong></li>
</ul>

<h4>Aims</h4>
<p>IFIP TC14 aims to encourage research, development and sharing of innovative ideas, models and practices, on computer applications in entertainment. 
To enhance computation and use studies in this field, the technical program committee invites original submissions.</p>


<h2>Topics</h2>
    <p>Topics can include but are not limited to:</p>

    <h4>1. Design and Analysis</h4>
    <p>
        Game Design: Theory, Creation & Testing<br>
        Interactive Narratives & Digital Storytelling<br>
        Entertainment Robots, Toys & Smart Gadgets<br>
        Social Media / Social Computing Entertainment<br>
        New Genres of Interactive & Digital Entertainment
    </p>

    <h4>2. Digital Art & Installations</h4>
    <p>
        Controllers for Musical Expression<br>
        Music Collaboration Tools<br>
        Public Interactive Art Installations<br>
        Interactive Art, Performance and Novel Interactions
    </p>

    <h4>3. XR Entertainment</h4>
    <p>
        Virtual/Augmented/Mixed Reality & Games<br>
        Ubiquitous/Pervasive Entertainment<br>
        TransMedia Storytelling<br>
        Metaverse Entertainment
    </p>

    <h4>4. Serious Games</h4>
    <p>
        Games for Learning, Health & Well-Being<br>
        Games For Change & Social Impact Games<br>
        Exergaming<br>
        Advergames and Digital Marketing
    </p>

    <h4>5. Inclusivity of Gaming and Interactive Entertainment</h4>
    <p>
        Game Accessibility Hardware<br>
        Guidelines for Inclusive Design<br>
        Special Needs Considerations<br>
        Theoretical Foundations and Ethical Issues
    </p>

    <h4>6. Experiential Aspects in Entertainment</h4>
    <p>
        Emotions and Affective Interaction<br>
        Theoretical Basis of Entertainment<br>
        Social / Cultural Impacts of Digital Entertainment<br>
        Entertainment for Purpose & Persuasion
    </p>

    <h4>7. Computational Methodologies for Entertainment</h4>
    <p>
        Artificial Intelligence & Machine Learning for Entertainment<br>
        Procedural Content Generation<br>
        Computer Graphics & Visual Effects<br>
        Big Data in Entertainment<br>
        Security & Privacy in Entertainment<br>
        Algorithmic research on board and card games<br>
        New types of entertainment using information technologies<br>
        Hardware technology research and development to implement entertainment systems<br>
        Non-traditional human interface technologies for entertainment
    </p>


    <h2>Program Chairs</h2>
    <ul>
        <li>Pablo Figueroa (Universidad de los Andes, Colombia)</li>
        <li>Maki Sugimoto (Keio University, Japan)</li>
        <li>Angelo Di lorio (University of Bologna, Italy)</li>
    </ul>
    
    <h4>Contact</h4>
    <p>icec2025-pc [at] easychair.org</p>

</Layout>
