---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Doctoral Consortium"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('March 14 2025')}
>

    <p>The Doctoral Consortium provides an opportunity for doctoral students to explore and develop their research interests in an interdisciplinary workshop, under the guidance of a panel of distinguished researchers in entertainment computing and/or serious games. We invite students who feel they would benefit from this kind of feedback on their dissertation work to apply for this unique opportunity to share their work with students in a similar situation as well as senior researchers in the field. The strongest candidates will be those who have a clear idea and an area, and have made some progress, but who are not so far along that they can no longer make changes. Also, as well as stating how you will gain from acceptance, both you and your advisor should be clear on what you can contribute to the Doctoral Consortium.</p>
    <p>The Consortium will provide a supportive setting for feedback on students’ current research and guidance on future research directions. It will also offer each student comments and fresh perspectives on their work from researchers and students outside their own institution and promote the development of a supportive community of scholars and a spirit of collaborative research.</p>
    <p>Current graduate students pursuing a PhD project who would benefit from detailed workshop discussions of their doctoral research should submit a single PDF file consisting of a 4-page extended abstract of your thesis work in <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines" target="_blank">Springer LNCS format</a>, clearly specifying the originality of the work with respect to current concepts and techniques, the importance of the work with respect to fundamental issues and themes in entertainment computing, results to date and their validity and contribution of the work (expected and/or achieved) to entertainment computing and/or serious games.</p>
    <p>We especially search for brand new research ideas. Feel free to submit any novel proposals where you believe they will lead to scientific breakthroughs not (yet) backed by concrete implementations or experiments. Candidates must also send a biographical note, the sponsor name and affiliation and one-paragraph statement of expected benefits of participation for both yourself and the other consortium participants (i.e., what will you contribute as well as gain).</p>
    <p>All contributions have to be submitted via <a href="https://easychair.org/my/conference?conf=icec20250" target="_blank">EasyChair</a></p>

    <h4>Important Dates:</h4>
    <ul>
        <li>Submission deadline: <strong>4th July, 2025</strong>  (not included in the proceedings)</li> 
    </ul>

    <h2>Chairs</h2>
    <ul>
        <li>Licinio Roque (University of Coimbra, Portugal)</li>
        <li>Yuki Okamoto (The University of Tokyo, Japan)</li>
    </ul>
    
    <h4>Contact</h4>
    <p>icec2025-dc [at] easychair.org</p>

</Layout>
