---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Student Game and Interactive Entertainment Competition"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('March 11 2025')}
>
    <p>IFIP-ICEC 2025 organizes a competition for student games and interactive entertainment. All students up to and including PhD candidate level are eligible to send in their game or interactive entertainment installation, as long as the demonstrator is fully experiential, and the demonstrator is part of a research endeavor. This could be a platform to perform research with, a research through design contribution, or a design exemplar of something that advances the state of the art, but the paper detailing the game or interactive entertainment installation should make clear what the development of it may add to our knowledge of games and entertainment. For PhD candidates, this could be a good venue to have the artifact contribution of your interactive entertainment installation peer-reviewed and published in official proceedings.</p>
    <p>Submissions to the game and interactive entertainment competition should be done in a 4-6 page extended abstract in <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines" target="_blank">Springer LNCS format</a>, that among others clearly describes the research goal, a description of the experience of the demonstrator with pictures, and how the demonstrator advances the state of the art.   </p>
    <p>Submissions furthermore require a video of at least 1:30 minutes that clearly shows the experience of the game or interactive entertainment installation. A download link to the executable in case of a game is highly appreciated. Teamwork is allowed, as long as the total amount of work into the game or installation does not exceed 48 person-months.</p>
    <p>At least one of the student authors on the paper needs to register and be physically present at the conference to showcase the game or installation in order to have a chance at winning the competition. A jury of experts is formed at the conference to select the winner, and the winner will be announced at the end of the conference.</p>
    <p>There are two moments to enter the student competition. In order to be eligible for the proceedings, you have to submit your paper by the early submission deadline. If you want to participate in the competition without a conference proceedings paper or on the basis of an accepted full or work-in-progress paper, contact the student competition chairs a week before the start of the conference at the latest.</p>
    <p>All contributions have to be submitted via <a href="https://easychair.org/my/conference?conf=icec20250" target="_blank">EasyChair</a> (anonymized for double-blind review)</p>
    
    <h4>Important Dates:</h4>
    <ul>
        <li>Student Competition submission deadline: <del>11th</del><strong>18th April, 2025</strong></li>
        <li>Student Competition late submission (not included in the proceedings) deadline: <strong>4th July, 2025</strong></li>
    </ul>

    <h2>Chairs</h2>
    <ul>
        <li>Erik Spek Eindhoven (Eindhoven University of Technology, Netherlands)</li>
        <li>Yudai Tsujino (Meiji University, Japan)</li>
    </ul>
    
    <h4>Contact</h4>
    <p>icec2025-sc [at] easychair.org</p>

</Layout>
