---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Interactive Entertainment Showcase"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('February 21 2025')}
>

    <h2>Interactive Entertainment Showcase Track</h2>
    <p>The Interactive Entertainment Showcase track is for interactive demonstrations that show early implementations of novel, interesting, and important entertainment computing concepts, systems, installations or games, or can serve to showcase results not previously described in the research literature. </p>
    <p>Both research and industry is encouraged to send in and showcase demonstrators of novel approaches to entertainment. We particularly encourage demonstrations with which attendees can interact and play.</p>

    <h4>Submission guidelines</h4>
    <p>An  Interactive Entertainment Showcase submission is a shorter submission describing a novel approach to entertainment computing concepts. </p>
    <p>Submissions will undergo a double-blind review process (authors should anonymize all submitted material) and should be composed of a document with 4 (minimum) to 5 (maximum) pages (including references) using <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines" target="_blank">Springer LNCS format</a>, and structured as follows: </p>
    <ol>
        <li>up to four pages for an extended abstract containing the following sections (sections can be named differently, and subsections can be included. Supporting figures, tables and images of the results may be included):</li>
        <ol type="a">
            <li>abstract and keywords, </li>
            <li>introduction, </li>
            <li>methodology, </li>
            <li>findings, </li>
            <li>conclusion, and </li>
            <li>references. </li>
        </ol>
        <li>a final page that contains:</li>
        <ol type="a">
            <li>the link to an online video, </li>
            <li>a list of technical requirements (including electrical and connectivity needs), and physical space requirements (including display and footprint needs). </li>
        </ol>
    </ol>
    <p>Authors are encouraged to include in the extended abstract one or more images that clearly depict how the system is physically used and experienced.</p>
    <p>Successful submissions will be included in the conference proceedings. Submissions  should follow the underlying extended abstract structure and must be clear, straightforward, and easy to understand. </p>

    <h4>Demonstrations at the conference</h4>
    <p>By default, demos will have a table, chairs and internet connection available. By their nature, interactive installations are intended for larger, potentially public spaces. We will try to accommodate for the needs of these types of  installations, but please include a minimal set-up so that we know the range of requirements that we will need to meet. Successful authors submissions will be contacted by the chair to confirm the availability of the requested resources. </p>
    <p>Please note that the organization is not able to arrange shipping to or from the conference, renting of equipment, etc.</p>


    <h4>Submission</h4>
    <p>The abstract, digital video and requirements supplement must be submitted electronically using the “Interactive Entertainment Showcase” track on <a href="https://easychair.org/my/conference?conf=icec20250" target="_blank">EasyChair</a> submission system: <a href="https://easychair.org/my/conference?conf=icec20250" target="_blank">https://easychair.org/my/conference?conf=icec20250</a></p>
    <p>If you want to demonstrate your work based on an accepted full or work-in-progress paper, contact the interactive entertainment / experiential works chairs a week before the start of the conference at the latest.</p>



    <h4>Important Dates:</h4>
    <ul>
        <li>Interactive Entertainment Showcase submission deadline: <strong>11th April, 2025</strong></li>
        <li>Notification to authors: <strong>16th May, 2025</strong></li>
    </ul>

    <h2>Chairs</h2>
    <ul>
        <li>Jorge C. S. Cardoso (IFIP, University of Coimbra, Portugal)</li>
        <li>Mondheera "Ampere" Pituxcoosuvarn (IPSJ, Ritsumeikan University, Japan)</li>
        <li>Susumu Nakata (IPSJ, Ritsumeikan University, Japan)</li>
    </ul>
    
    <h4>Contact</h4>
    <p>icec2025-ie [at] easychair.org</p>

</Layout>
