---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Call for Paper"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('Octover 07 2024')}
>

<p>The 24th IFIP INTERNATIONAL CONFERENCE ON ENTERTAINMENT COMPUTING<br />
Date: 27th - 30th August, 2025<br />
Location: Nihon University, Tokyo, JAPAN<br />
<a href="https://icec2025.entcomp.org/">https://icec2025.entcomp.org/</a></p>

<p>The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP ICEC 2025) will be held in Tokyo, Japan, from 27th to 30th August. The conference is organized by the IFIP TC14 Entertainment Computing Technical Committee and hosted by the IPSJ SIG-EC and Nihon University. IFIP ICEC is one of the longest-running, most prestigious scientific conferences in the field of Entertainment Computing, bringing together practitioners, researchers, artists, designers, and industry professionals focused on the creation, development, and application of digital entertainment content and experience systems. It covers a wide range of research areas, including interactive art, game-based learning, XR technologies, and the ethical implications of entertainment.</p>

<h4>Journal Track</h4>
<p>This year, ICEC continues to innovate by offering a journal track submission option. Authors can submit Full Papers to the prestigious Elsevier Entertainment Computing Journal or to the Full Paper conference track. Journal submissions will undergo a double-blind review process and may be accepted either for the journal or the conference track with resubmission, or rejected. Papers accepted for the journal track will follow Elsevier’s editorial process and be published at a later date. We recommend submitting only highly developed and mature works to the journal track.</p>

<h4>Conference Track</h4>
<p>Conference papers will be published in a book form in the Springer Lecture Notes in Computer Science (LNCS) series. Conference track submissions will undergo a double-blind review process and may be accepted either for the conference or the Works in Progress track, or rejected. Authors will be able to have an advantage of a later submission deadline compared with the Journal Track.</p>

<h4>Other Tracks</h4>
<p>ICEC also encourages authors to submit their work to the  Work-in-progress, Workshops and Tutorials, Interactive Entertainment / Experiential Works,  Student Game and Interactive Entertainment Competition, and Doctoral Consortium tracks, to explore new topics and foster collaboration among researchers. Please find below details about all other tracks.</p>

<p>Check the ICEC website for updates regarding any potential special issues.</p>

<h2>Important Dates</h2>
<h4>Submission Deadlines</h4>
<p>We invite submissions under the following categories (deadlines):</p>
<ul>
	<li>Journal Papers: <strong>24th January, 2025</strong></li>
	<li>Workshop Proposals: <strong>14th February, 2025</strong></li>
	<li>Tutorial Proposals: <strong>14th February, 2025</strong></li>
	<li>Conference Papers: <strong>17th March, 2025</strong></li>
	<li>Interactive Entertainment / Experiential Works: <strong>11th April, 2025</strong></li>
	<li>Works-in-Progress: <strong>11th April, 2025</strong></li>
	<li>Student Competition: <strong>11th April, 2025</strong></li>
</ul>
<h4>Late Submissions (Not Included in the Proceedings)</h4>
<ul>
	<li>Student Competition: <strong>4th July, 2025</strong></li>
	<li>Doctoral Consortium: <strong>4th July, 2025</strong></li>
</ul>
<h4>Notifications to Authors</h4>
<ul>
	<li>Journal Papers (1st Review Cycle): <strong>7th March, 2025</strong></li>
	<li>Conference Papers: <strong>9th May, 2025</strong></li>
	<li>Other Tracks: <strong>16th May, 2025</strong></li>
</ul>
<h4>Camera Ready Materials</h4>
<ul>
	<li>Conference Proceedings: <strong>30th May, 2025</strong></li>
</ul>

<h2>Aims</h2>
    <p>
        IFIP TC14 aims to encourage research, development and sharing of innovative ideas, models and practices, 
        on computer applications in entertainment. To enhance computation and use studies in this field, the technical 
        program committee invites original submissions.
    </p>

<h2>Topics</h2>
    <p>Topics can include but are not limited to:</p>

    <h4>1. Design and Analysis</h4>
    <p>
        Game Design: Theory, Creation & Testing<br>
        Interactive Narratives & Digital Storytelling<br>
        Entertainment Robots, Toys & Smart Gadgets<br>
        Social Media / Social Computing Entertainment<br>
        New Genres of Interactive & Digital Entertainment
    </p>

    <h4>2. Digital Art & Installations</h4>
    <p>
        Controllers for Musical Expression<br>
        Music Collaboration Tools<br>
        Public Interactive Art Installations<br>
        Interactive Art, Performance and Novel Interactions
    </p>

    <h4>3. XR Entertainment</h4>
    <p>
        Virtual/Augmented/Mixed Reality & Games<br>
        Ubiquitous/Pervasive Entertainment<br>
        TransMedia Storytelling<br>
        Metaverse Entertainment
    </p>

    <h4>4. Serious Games</h4>
    <p>
        Games for Learning, Health & Well-Being<br>
        Games For Change & Social Impact Games<br>
        Exergaming<br>
        Advergames and Digital Marketing
    </p>

    <h4>5. Inclusivity of Gaming and Interactive Entertainment</h4>
    <p>
        Game Accessibility Hardware<br>
        Guidelines for Inclusive Design<br>
        Special Needs Considerations<br>
        Theoretical Foundations and Ethical Issues
    </p>

    <h4>6. Experiential Aspects in Entertainment</h4>
    <p>
        Emotions and Affective Interaction<br>
        Theoretical Basis of Entertainment<br>
        Social / Cultural Impacts of Digital Entertainment<br>
        Entertainment for Purpose & Persuasion
    </p>

    <h4>7. Computational Methodologies for Entertainment</h4>
    <p>
        Artificial Intelligence & Machine Learning for Entertainment<br>
        Procedural Content Generation<br>
        Computer Graphics & Visual Effects<br>
        Big Data in Entertainment<br>
        Security & Privacy in Entertainment<br>
        Algorithmic research on board and card games<br>
        New types of entertainment using information technologies<br>
        Hardware technology research and development to implement entertainment systems<br>
        Non-traditional human interface technologies for entertainment
    </p>

<h2>Calls for Submissions</h2>

    <h4>1. Journal and Conference Tracks</h4>
    <p>
        Full papers are the main media for presenting high impact, mature research with original new results. Submissions 
        should describe novel unpublished work addressing one or more of the research topics listed. As a new feature this 
        year, authors can submit their papers to either the journal track or the conference track.
    </p>
    <p>
        The Journal track will publish accepted papers in a special issue of the Elsevier’s Journal of Entertainment Computing (ENTCOM). 
        Accepted papers will be presented at the conference, and published in the journal at a later date. Papers presented for the 
        journal track should follow the submission and publication process of ENTCOM. Papers submitted to the journal could be either 
        conditionally accepted in the journal track, conditionally accepted after resubmission in the conference track, or rejected. 
        Note that the deadline for the conference track will be after the journal track notification. Papers accepted to this track will 
        be published in the special issue only if at least one author registers and presents their work at the conference.
    </p>
    <p>
        Accepted conference papers will be published in a book form in the Springer Lecture Notes in Computer Science (LNCS) series. Papers 
        submitted to the conference track could be either conditionally accepted in the conference track, conditionally accepted in the Works 
        in Progress track, or rejected. Accepted papers will be scheduled for long presentations and discussions at the conference. Papers 
        accepted to this track will be published in LNCS, only if at least one author registers and presents their work at the conference.
    </p>
    <p>
        Paper length should reflect the contribution and maturity of the submission and reviewers from the program committee will be 
        instructed to judge the contribution of a paper relative to its length. For example, typical contributions presenting significant 
        research advances/results should not exceed 12 pages in length excluding references.
    </p>
    <p>
        In addition, videos are encouraged and can be included in the paper or as Electronic Supplementary Material. 
        See the guidelines for the journal or the conference track for more details.
    </p>


    <h4>2 Works in Progress</h4>
    <p>
        Work in Progress (WiP) contributions provide an opportunity to present late-breaking work, new experimental projects, 
        research in early phases or with more limited scope than typical full papers. A WiP submission is a shorter submission 
        describing the research problem, contribution, and value to the community, submitted as a PDF file. Accepted papers will 
        be included into the official Springer LNCS proceedings and will be scheduled for presentation and discussion at the conference.
    </p>
    <p>
        WiP submissions should not exceed 8 pages in length, excluding references, in Springer LNCS format. Submissions with 
        exceeding length relative to their contribution can be rejected. The committee may accept submissions conditionally or 
        route them for a different category, when appropriate, and consult with authors to adjust their paper according to the review needs.
    </p>

    <h4>3 Workshops and Tutorials</h4>
    <p>We invite proposals for workshops and tutorials that will be held at IFIP-ICEC 2025.</p>

    <h5>3.1 Workshops</h5>
    <p>
        We invite proposals in all areas of entertainment computing and serious games research (see conference topics listed above) 
        and particularly welcome proposals that will focus on and promote discussion on new and emerging trends in these areas. Workshop 
        proposals must include the following information:
    </p>
    <ul>
        <li>Workshop or tutorial title and short abstract (max. 50 words)</li>
        <li>Workshop summary, short review of state of the art, motivation and goals</li>
        <li>Workshop format (an activity plan and its rationale towards the goals)</li>
        <li>Workshop format for participant enrollment (e.g., position papers, prior expression of interest, or other applicable requirements for planning and organization)</li>
        <li>Profile of participants (and estimated number of participants)</li>
        <li>Contact of the organizers (name, affiliation, address, phone#, email)</li>
        <li>Short but relevant bio information of the organizers</li>
        <li>Expected workshop outcomes (proceedings, special issue of journals, project proposals, etc.)</li>
        <li>Proposed workshop due dates (take into consideration conference schedules); workshops can be scheduled for either half a day (4h) or a full day (8h)</li>
        <li>Workshops are open to all IFIP-ICEC attendees at no additional cost, even if they do not submit any contribution to the workshops.</li>
    </ul>
    <p>
        Submissions need to adhere to the stated workshop proposal deadline. Additionally, to be considered for inclusion in the 
        conference proceedings, authors of workshop proposals may also submit a 6-page (maximum, excluding references) paper in the 
        Springer LNCS format, observing the deadline for full paper submission. Regular workshop proposals will not be included in the proceedings.
    </p>

    <h5>3.2 Tutorials</h5>
    <p>
        We invite proposals for tutorials that will be held in conjunction with ICEC 2025. We invite proposals in all areas of 
        entertainment computing (see conference topics listed above) and particularly welcome proposals that will focus on and 
        promote discussion on new and emerging trends. Tutorial proposals should be two pages in length and must include the following information:
    </p>
    <ul>
        <li>Contact information (name, affiliation, address, phone number and email) of the tutorial organizer(s)</li>
        <li>Relevant CV information of the tutorial leader(s)</li>
        <li>Tutorial title</li>
        <li>Tutorial objective</li>
        <li>Background/relevance of tutorial topic</li>
        <li>Intended duration (3h or 6h)</li>
        <li>Brief summary of the content</li>
    </ul>
    <p>
        To be considered for inclusion in the conference proceedings, authors of tutorial proposals may also submit a 6-page 
        (maximum) paper in the Springer LNCS format, observing the deadline for full paper submission. Regular tutorial proposals 
        will not be included in the proceedings.
    </p>

    <h4>4 Interactive Entertainment / Experiential Works</h4>
    <p>
        Interactive Entertainment / Experiential Works are interactive demonstrations, installations, and games that show early 
        implementations of novel, interesting, and important entertainment computing concepts, systems, installations, or games, or 
        can serve to showcase results not previously described in the research literature.
    </p>
    <p>
        Both research and industry are encouraged to send in and showcase demonstrators of novel approaches to entertainment. We 
        particularly encourage demonstrations with which attendees can interact and play.
    </p>
    <p>
        An Interactive Entertainment / Experiential Works submission is a shorter submission describing a novel approach to 
        entertainment computing concepts. Submissions will be peer-reviewed and should be composed of a document with 4-5 pages using 
        Springer LNCS format, and structured as follows:
    </p>
    <ul>
        <li>Up to four pages for an extended abstract</li>
        <li>A final page that contains the link to an online video, a list of technical requirements (including electrical and connectivity needs), and physical space requirements (including display and footprint needs)</li>
    </ul>
    <p>
        Successful submissions will be included in the conference proceedings. Submissions should follow the underlying extended 
        abstract structure and must be clear, straightforward, and easy to understand. The extended abstract must contain the following sections: 
        abstract and keywords, introduction, methodology, findings, conclusion, and references. Sections can be named differently, and subsections can be included.
    </p>

<h4>General Chair</h4>
<ul>
	<li>Ryosuke Yamanishi, Kansai University, Japan</li>
</ul>

<h4>Program Chairs</h4>
<ul>
	<li>Pablo Figueroa, Universidad de los Andes, Colombia</li>
	<li>Maki Sugimoto, Keio University, Japan</li>
	<li>Angelo Di Iorio, University of Bologna, Italy</li>
</ul>

<h4>Steering Committee</h4>
<ul>
	<li>Jannicke Baalsrud Hauge (KTH, Sweden)</li>
	<li>Jorge C. S. Cardoso (University of Coimbra, Portugal)</li>
	<li>Esteban Clua (Federal Fluminense University, Brazil)</li>
	<li>Rainer Malaka (University of Bremen, Germany)</li>
	<li>Erik van der Spek (Eindhoven University of Technology, Netherlands)</li>
</ul>


</Layout>
