---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Call for Paper"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('Octover 07 2024')}
>
  <p>Under construction.</p>

</Layout>
