---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="ENTCOM Submission Steps"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('January 28 2025')}
>


<h2>ENTCOM Submission - short version</h2>
<ul>
    <ol>Log in to <a href="https://www.editorialmanager.com/entcom/" target="_blank">https://www.editorialmanager.com/entcom/</a></ol>
    <ol>Select the special issue ‘VSI: IFIP ICEC 2025‘ in the Article Type</ol>
    <ol>Start the process of attaching files. Please add ALL mandatory marked with *</ol>
    <ul>
        <li>For the highlights indicate three to five bullet points that describe your work</li>
        <li>For the Title page use the template provided in the interface</li>
        <li>For the Conflict of Interest go to https://declarations.elsevier.com/ and use the tool to create a document that can be uploaded directly </li>
        <li>Please be careful to upload an anonymized version of your paper in ‘Manuscript WITHOUT Author Identifiers’</li>
    </ul>
    <ol>Fill all other data requested in the submission form</ol>
</ul>

<h2>ENTCOM Submission - full version</h2>
<p>Step by step process for the special issue</p>
<p>1. Log in to <a href="https://www.editorialmanager.com/entcom/" target="_blank">https://www.editorialmanager.com/entcom/</a></p>
<img src="/entcom-img/01.png" width="800" />
<img src="/entcom-img/02.png" width="600" />
<img src="/entcom-img/03.png" width="480" />



</Layout>
