---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="ENTCOM Submission Steps"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('January 28 2025')}
>


<h2>ENTCOM Submission - short version</h2>
<ol>
    <li>Log in to <a href="https://www.editorialmanager.com/entcom/" target="_blank">https://www.editorialmanager.com/entcom/</a></li>
    <li>Select the special issue ‘VSI: IFIP ICEC 2025‘ in the Article Type</li>
    <li>Start the process of attaching files. Please add ALL mandatory marked with *</li>
    <ul>
        <li>For the highlights indicate three to five bullet points that describe your work</li>
        <li>For the Title page use the template provided in the interface</li>
        <li>For the Conflict of Interest go to https://declarations.elsevier.com/ and use the tool to create a document that can be uploaded directly </li>
        <li>Please be careful to upload an anonymized version of your paper in ‘Manuscript WITHOUT Author Identifiers’</li>
    </ul>
    <li>Fill all other data requested in the submission form</li>
</ol>

<h2>ENTCOM Submission - full version</h2>
<p>Step by step process for the special issue</p>
<p>1. Log in to <a href="https://www.editorialmanager.com/entcom/" target="_blank">https://www.editorialmanager.com/entcom/</a></p>
<img src="/entcom-img/01.png" width="800" />

<p>2. Select the special issue ‘VSI: IFIP ICEC 2025‘ in the Article Type</p>
<img src="/entcom-img/02.png" width="800" />

<p>3. Start the process of attaching files.</p>
<img src="/entcom-img/03.png" width="800" />


<p>4. Fill the other files by selecting the item types accordingly. Please add at least the required files mentioned in the left, or in the drop down menu below with “*”.</p>
<ul>
    <li>For the highlights indicate three to five bullet points that describe your work</li>
    <li>For the Title page use the template provided in the interface</li>
    <li>For the Conflict of Interest go to https://declarations.elsevier.com/ and use the tool to create a document that can be uploaded directly </li>
    <li>Please be careful to upload an anonymized version of your paper in ‘Manuscript WITHOUT Author Identifiers’</li>
</ul>
<img src="/entcom-img/04.png" width="600" />

<p>5. Add the required classifications</p>
<img src="/entcom-img/05.png" width="800" />

<p>6. Request a specific editor (not mandatory). </p>
<img src="/entcom-img/06.png" width="800" />

<p>7. Answer the additional information questions, as applies to your paper</p>
<img src="/entcom-img/07.png" width="800" />

<p>8. Enter additional comments, as required</p>
<img src="/entcom-img/08.png" width="800" />

<p>9. Add the manuscript data accordingly</p>
<img src="/entcom-img/09.png" width="800" />


</Layout>
