---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Image src="/logoICEC.svg" alt="ICEC logo" width="751" height="490"  />

			<h4>News</h4>
			<ul>
				<li>Deadline of Conference Track Full paper is extended to Mar. 31. (Mar. 14. 2025) </li>
				<li>Notification of Journal Papers is extended to Mar. 14. (Mar. 11, 2025) </li>
				<li><a href="./cfp-sc/">Call for Student Competition</a> is added. (Mar. 10, 2025)</li>
				<!-- <li><a href="./cfp-ie/">Call for Interactive Entertainment Showcase Track</a> is added. (Feb. 21, 2025)</li>
				<li>Deadline of Call for Workshop Proposals is extended to Feb. 18. (Feb. 17, 2025) </li>
				<li><a href="./cfp-conference/">Call for Conference Track</a> is added. (Feb. 11, 2025)</li>
				<li><a href="./entcom/">ENTCOM Submission Steps</a> is added. (Jan. 29, 2025)</li>
				<li>Deadline of Journal Track is extended to Feb. 3. (Jan. 21, 2025) </li>
				<li><a href="./cfp-journal/">Guideline for the Journal Track</a> is added. (Jan. 10, 2025)</li>
				<li><a href="./cfp-workshops/">Call for Workshop Proposals</a> is added. (Jan. 10, 2025)</li> -->
			</ul>
			<h4>Important Notices</h4>
			<h5>Submission Deadlines</h5>
			<ul>
				<li><b>Journal Track:</b> <del>January 24th</del> February 3rd, 2025</li>
				<li><b>Workshop proposal:</b> <del>February 14th</del> February 18th, 2025</li>
				<li><b>Conference tracks:</b></li>
				<ul>
					<li><b>Full paper:</b> <del>March 17th</del> March 31st, 2025</li>
					<li><b>Work in progress/Interactive work/Doctor consortium/Student competition:</b> April 11th, 2025</li>
					<li><b>Doctor consortium w/o proceedings:</b> July 4th, 2025</li>
				</ul>
			</ul>
			<p>Please read the <a href="./cfp/">CFP page</a> for more information.</p>
			
			<h4>About IFIP-ICEC 2025</h4>
			<p>
				The 24th International Federation for Information Processing – 
				International Conference on Entertainment Computing (IFIP-ICEC 2025) 
				will be held in Tokyo, Japan on August 27th to 30th, 2025.
			</p>
			<p>
				The conference is organized by the IFIP TC14 – Entertainment Computing Technical Committee, 
				and will be hosted by Nihon University, Tokyo, Japan.
			</p>
			<p>
			 IFIP-ICEC is the longest lasting and prime scientific conference series in the area of Entertainment Computing. 
			 It brings together practitioners, researchers, artists, designers, and industry on the design, creation, development, use, 
			 application and evaluation of digital entertainment content and experience systems.
			 This event covers a diverse array of related research issues, including interactive art, game-based learning, 
			 XR technologies and ethical considerations associated with entertainment.
			</p>

			<h4>Contact</h4>
			<p>icec2025-pc [at] easychair.org</p>
			

		</main>
		<Footer />
	</body>
</html>
