---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>The 24th IFIP International Conference
on Entertainment Computing</h1>
			<p>
				The 24th International Federation for Information Processing – 
				International Conference on Entertainment Computing (IFIP-ICEC 2025) 
				will be held in Japan on August 27th to 30th, 2025.
			</p>
			<Image src="/logoICEC.svg" alt="ICEC logo" width="500px" />
			<p>
				The conference is organized by the IFIP TC14 – Entertainment Computing Technical Committee, 
				and will be hosted by Nihon University, Japan.
			</p>
			<p>
			 IFIP-ICEC is the longest lasting and prime scientific conference series in the area of Entertainment Computing. 
			 It brings together practitioners, researchers, artists, designers, and industry on the design, creation, development, use, 
			 application and evaluation of digital entertainment content and experience systems.
			 This event covers a diverse array of related research issues, including interactive art, game-based learning, 
			 XR technologies and ethical considerations associated with entertainment.
			</p>
			<p>Committees:</p>
			<ul>
				<li>General Chair: Ryosuke Yamanishi (IFIP/IPSJ, Kansai University, Japan)</li>
				<li>Local Chair: Tetsuro Kitahara (IPSJ, Nihon University, Japan)</li>
				<li>Program Chair: Maki Sugimoto (IPSJ, Keio University, Japan)</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
