---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Keynotes"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('December 04 2024')}
>

<h2>Wei-Ta Chu</h2>
  <img src="/Wei-TaChu.png" width="450" height="600"/>
  <p>Wei-Ta Chu received the B.S. and M.S. degrees in Computer Science from National Chi Nan University, Taiwan, in 2000 and 2002, and received the Ph.D. degree in Computer Science from National Taiwan University, Taiwan, in 2006. He is now a Professor in the Department of Computer Science and Information Engineering, National Cheng Kung University, Taiwan. His research interests include digital content analysis, multimedia indexing, deep learning, and pattern recognition.</p>
  <p>He won IEEE MSA-TC Best Paper Award at ISCAS 2021 and the Best Full Technical Paper Award at ACM Multimedia 2006. He was awarded Outstanding Youth Electrical Engineer Award by the Chinese Institute of Electrical Engineering in 2017, the Distinguished Alumni Award presented by National Chi Nan University in 2014, the K. T. Li Young Researcher Award presented by Institute of Information & Computing Machinery in 2012. He was a visiting professor at Nagoya University in 2017 and Columbia University in 2008. He has been an associate editor of IEEE Transactions on Multimedia (TMM) since 2022 and won the Excellent Editor Award from TMM in 2024. He serves as a GC of ACM Multimedia Asia 2023, a TPC of MMM2025, TAAI 2024, MVA 2023, IEEE ICME 2022, ACM ICMR 2021, MMM 2020, and IEEE MMSP 2019.</p>
</Layout>
