---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Organization"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('Octover 07 2024')}
>

<h2>General Chair:</h2>
<ul>
  <li>Ryosuke "Leo" Yamanishi (IFIP/IPSJ, Kansai University, Japan)</li>
  <ul><li>ryama [at] kansai-u.ac.jp</li></ul>
</ul>

<h2>Steering General Chair:</h2>
<ul>
  <li>Esteban Clua (IFIP, UFF, Brazil)</li>
</ul>



<h2>Scientific Committees Chairs</h2>

<h4>Program Chairs:</h4>
<ul>
  <li>Pablo Figueroa (IFIP, Univ. de Los Andes, Colombia)</li>
  <li>Maki Sugimoto (IPSJ, Keio University, Japan)</li>
  <li>Angelo Di Iorio (IFIP, Univ. Bologna, Italia)</li>
</ul>

<h4>Workshop Chairs:</h4>
<ul>
  <li>Andreia Formico (IFIP, UNIFOR, Brazil)</li>
  <li>Yuta Sugiura (IPSJ, Keio University, Japan)</li>
</ul>

<h4>Student Competition:</h4>
<ul>
  <li>Erik Spek Eindhoven (IFIP, Eindhoven University of Technology, Netherlands)</li>
  <li>Yudai Tsujino (IPSJ, Meiji University, Japan)</li>
</ul>

<h4>Work in Progress Chairs:</h4>
<ul>
  <li>Jerome Dupire (IFIP, Conservatoire National des Arts et Métiers, France)</li>
  <li>Naoya Koizumi (IPSJ, The University of Electro-Communications, Japan)
</li>
</ul>

<h4>Interactive Session Chairs:</h4>
<ul>
  <li>Jorge Cardoso (IFIP, University of Coimbra, Portugal)</li>
  <li>Mondheera "Ampare" Pituxcoosuvarn (IPSJ, Ritsumeikan University, Japan)</li>
  <li>Susumu Nakata (IPSJ, Ritsumeikan University, Japan)</li>
</ul>

<h4>Doctoral Consortium:</h4>
<ul>
  <li>Licinio Roque (IFIP, University of Coimbra, Portugal)</li>
  <li>Yuki Okamoto (IPSJ, The University of Tokyo, Japan)</li>
</ul>

<h4>Publication Chair:</h4>
<ul>
  <li>Kohei Matsumura (IPSJ, Ritsumeikan University, Japan)</li>
</ul>



<h2>Conference Organization Chairs</h2>

<h4>Local Chair:</h4>
<ul>
  <li>Tetsuro Kitahara (IPSJ, Nihon University, Japan)</li>
</ul>

<h4>Web:</h4>
<ul>
  <li>Tsubasa Yumura (IPSJ, Hokkaido Information University, Japan)</li>
</ul>

<h4>Industory/Sponsorship:</h4>
<ul>
  <li>Yasuhito Baba (IPSJ, Farrier inc., Japan)</li>
</ul>

<h4>Treasurer:</h4>
<ul>
  <li>Yoko Nishihara (IPSJ, Ritsumeikan University, Japan)</li>
</ul>

<h4>Publicity:</h4>
<ul>
  <li>Yuichi Itoh (IPSJ, Aoyama Gakuin University, Japan)</li>
</ul>

<h4>IPSJ-Liaison:</h4>
<ul>
  <li>Mitsunori Matsushita (IPSJ, Kansai University, Japan)</li>
</ul>

<h4>Local Arrangements:</h4>
<ul>
	<li>Kenro Go (IPSJ, Softbank, Japan)</li>
	<li>Ryo Hatano (IPSJ, Tokyo University of Science, Japan)</li>
	<li>Masatoshi Hamanaka (IPSJ, RIKEN, Japan)</li>
	<li>Tatsunori Hirai (IPSJ, Komazawa University, Japan)</li>
	<li>Akinori Ito (IPSJ, Tokyo University of Technology, Japan)</li>
	<li>Akinori Miyata (IPSJ, Nihon University, Japan)</li>
	<li>Masanori Morise (IPSJ, Meiji University, Japan)</li>
	<li>Aiko Uemura (IPSJ, Tsuda University, Japan)</li>
</ul>

<h2>IFIP TC14 Steering Committees</h2>
<ul>
  <li>Jannicke Baalsrud Hauge (KTH, Sweden)</li>
  <li>Jerome Dupire (CNAM, France)</li>
  <li>Esteban Clua (Federal Fluminense University, Brazil)</li>
  <li>Rainer Malaka (University of Bremen, Germany)</li>
  <li>Erik van der Spek (Eindhoven University of Technology, Netherlands)</li>
</ul>

</Layout>
