---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Organization"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Octover 07 2024')}
	heroImage="/blog-placeholder-2.jpg"
>

<h4>General Chair:</h4>
<ul>
  <li>Ryosuke "Leo" Yamanishi (IFIP/IPSJ, Kansai University, Japan)
</li>
</ul>


<h4>Steering General Chair:</h4>
<ul>
  <li>Esteban Clua (IFIP, UFF, Brazil)</li>
</ul>

<h2>Scientific Committees Chairs</h2>

<h4>Program Chairs:</h4>
<ul>
  <li>Pablo Figueroa (IFIP, Univ. de Los Andes, Colombia)</li>
  <li>Maki Sugimoto (IPSJ, Keio University, Japan)</li>
  <li>Angelo Di Iorio (IFIP, Univ. Bologna, Italia)</li>
</ul>


<h4>Workshop Chairs:</h4>
<ul>
  <li>Andreia Formico (IFIP, UNIFOR, Brazil)</li>
  <li>Yuta Sugiura (IPSJ, Nihon University, Japan)</li>
</ul>

<h4>Student Competition:</h4>
<ul>
  <li>Erik Spek Eindhoven (IFIP, Eindhoven University of Technology, Netherlands)</li>
</ul>


<h4>Work in Progress Chairs:</h4>
<ul>
  <li>Jerome Dupire (IFIP, Conservatoire National des Arts et Métiers, France)</li>
  <li>Naoya Koizumi (IPSJ, The University of Electro-Communications, Japan)
</li>
</ul>

<h4>Interactive Session Chairs:</h4>
<ul>
  <li>Jorge Cardoso (IFIP, University of Coimbra, Portugal)</li>
  <li>Mondheera "Ampare" Pituxcoosuvarn (IPSJ, Ritsumeikan University, Japan)</li>
  <li>Susumu Nakata (IPSJ, Ritsumeikan University, Japan)</li>
</ul>

<h4>Doctoral Consortium:</h4>
<ul>
  <li>Licinio Roque (IFIP, University of Coimbra, Portugal)</li>
</ul>


<h4>Publication Chair:</h4>
<ul>
  <li>Kohei Matsumura (IPSJ, Ritsumeikan University, Japan)</li>
</ul>



<h2>Conference Organization Chairs</h2>

<h4>Local Chair:</h4>
<ul>
  <li>Tetsuro Kitahara (IPSJ, Nihon University, Japan)</li>
</ul>

<h4>Web:</h4>
<ul>
  <li>Taubasa Yumura (IPSJ, Hokkaido Information University, Japan)</li>
</ul>



<h4>Industory/Sponsorship chair:</h4>
<ul>
  <li>Yasuhito Baba (IPSJ, Farrier inc., Japan)</li>
</ul>



<h4>Treasurer:</h4>
<ul>
  <li>Yoko Nishihara (IPSJ, Ritsumeikan University, Japan)</li>
</ul>


<h4>Reception/coffee break/registration:</h4>
<ul>
  <li>Aiko Uemura (IPSJ, Tsudajuku University, Japan)</li>
</ul>




<h4>IPSJ-Liaison:</h4>
<ul>
  <li>Mitsunori Matsushita (IPSJ, Kansai University, Japan)</li>
</ul>


</Layout>
