---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Proceedings"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('Aug 22 2025')}
>
<ul>
	<li><a href="https://link.springer.com/book/10.1007/978-3-032-02534-0">Workshop Proceedings</a></li>
	<li><a href=https://link.springer.com/book/10.1007/978-3-032-02555-5">Main Proceedings</a></li>

</ul>
