---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Program"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('May 17 2025')}
>
<ul>
	<li><a href="/ataglance">Program at a Glance</a></li>
	<li><a href="/session">Session Information</a></li>
	<li><a href="/accepted">Accepted Paper</a></li>
</ul>  
