---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Program"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('May 17 2025')}
>
<h2>Conference Schedule</h2>
<table border="1" cellspacing="0" cellpadding="8" style="border-collapse: collapse; text-align: left; width: 100%;">
  <thead style="background-color: #fde7a7;">
    <tr>
      <th></th>
      <th>Aug 25</th>
      <th>Aug 26</th>
      <th>Aug 27</th>
      <th>Aug 28</th>
      <th>Aug 29</th>
      <th>Aug 30</th>
      <th>Aug 31</th>
    </tr>
  </thead>
  <tbody>
    <tr>
		<th>Events</th>
        <td><strong>IFIP/IPSJ International Bridging</strong></td>
        <td><strong>IFIP/IPSJ International Bridging</strong></td>
        <td><strong>Workshops</strong></td>
        <td><strong>Main Day 1</strong></td>
        <td><strong>Main Day 2</strong></td>
        <td><strong>Main Day 3</strong></td>
        <td></td>
    </tr>
    <tr>
      <th>Description</th>
      <td>Participants of ICEC can join demos and some presentations in IPSJ domestic symposium</td>
      <td>Participants of ICEC can join demos and some presentations in IPSJ domestic symposium</td>
      <td>Reception</td>
      <td>Opening Keynote1</td>
      <td>Keynote2<br>Banquet</td>
      <td>Keynote3<br>Closing<br>Awarding<br>TC14 business meeting</td>
      <td>IFIP TC14 Business Networking</td>
    </tr>
  </tbody>
</table>

<ul>
	<li>IPSJ domestic symposium is mainly in Japanese language</li>
	<li>Reception will provide drinks and snacks at the conference venue</li>
	<li>Banquet needs a ticket for each participant, which can be purchased in the registration site</li>
</li>
</ul>

<h2>Accepted Paper</h2>
<p>We sincerely invite the authors of the accepted papers to present their work at IFIP ICEC 2025, 
which will be held in Tokyo from August 27 to 30, 2025. 
The General Chair of ICEC 2025 officially confirms that authors listed in the accepted papers may use the notification email and the list of accepted papers as official proof of their participation and presentation at the conference. 
Further details of the program will be announced at a later date.<br />
<strong>ICEC 2025 General Chair<br />
Ryosuke Yamanishi, Ph.D.</strong></p>

<h4>Journal track</h4>
<!-- <p><strong>Notice: The list is based on review results as of June 20, 2025. Other papers still under reviews will be added later.</strong></p> -->
  <ul>
    <li><strong>Gary Lee Wagener, Elisabeth Holl, André Melzer</strong>: Testing positive mood effects of playing Gris, a eudaimonic video game.</li>
    <li><strong>Wen Huang, Jiayi Gao, Xinyuan Chen</strong>: Predicting Post-VR Game Experiences with Wearable Physiological Sensors</li>
    <li><strong>Kohei Matsumura, Shota Watanabe, Gaku Kutsuzawa, Yoshiyuki Kobayashi</strong>: A Playful Experience Sampling Method to Measure Emotions Using Smartwatches and Emojis</li>
    <li><strong>Boning Li, Lehao Zhou, Junichi Hoshino</strong>: Collaborative VR Environment for Supporting Food Culture Learning</li>
    <li><strong>Jukka Vahlo, Suvi K. Holm, Johanna K. Kaakinen, Aki Koponen</strong>: Exploring Game-Based Psychological Empowerment and Its Motivational and Wellbeing Effects</li>
    <li><strong>Ibrahim Khan, Thai Van Nguyen, Ruck Thawonmas</strong>: Fighting to the Beat: Multi-Instrumental Adaptive Background Music Approach</li>
    <li><strong>Pablo Gutiérrez-Sánchez, Pedro P. Gómez-Martín, Pedro A. González-Calero, Marco A. Gómez-Martín</strong>: Evaluating Usability for an AR-enabled Escape Room Authoring Ecosystem</li>
    <li><strong>Kodai Imaizumi, Ryosuke Yamanishi, Mitsunori Matsushita</strong>: Comic-Shelf Vectors: convoluting the co-occurrence among comics on the bookshelf</li>
    <li><strong>Irene C. E. van Blerck, Edirlei Soares de Lima, Margot M. E. Neggers, Toon Calders</strong>: Unveiling Gender Bias in LLM-Generated Hero and Heroine Narratives</li>
    <li><strong>Tengjia Zuo, Ziheng Zhang, Yuqiao Du</strong>: Do Games Have the Power to Reduce Power Distance in Co-Design?</li>
    <li><strong>Wenchen Winston GUO, Wenjuan CHEN, Yining ZHANG, Menghan Caro SHI, Hailiang WANG</strong>: Portrait of the City: Case Study on Bridging Place Identity and Emotional Engagement via Interactive Art Installations</li>
    <li><strong>Sho Mitarai, Chang Liu, Goshiro Yamamoto, Nagisa Munekata</strong>: Emotion Dynamics in Social Deception Games: Analysis of Professional and Nonprofessional Players through Electrodermal Activity in Werewolf Game</li>
    <li><strong>Yoshinari Takegawa, Guanyu Chen, Hiroki Watanabe, Matsumura Kohei</strong>: Canine-Centric Interactive Systems: Wavelet-Based IMU Motion Recognition in Edge AI Scenarios</li>
    <li><strong>Hikaru Ikuta, Yudai Tsujino, Ryosuke Yamanishi</strong>: A Game-Theoretic Analysis of Traditional Song Selection Rules in Rhythm Game Tournaments</li>
    <li><strong>Lauro Víctor Ramos Cavadas, Esteban W. G. Clua, Troy C. Kohwalter, Sidney A. Melo</strong>: Enhancing Imitation Learning Training for Non-Player Characters based on Provenance Data</li>
  </ul>


<h4>Full Papers</h4>
  <ul>
    <li><strong>Edirlei Soares de Lima, Marco Antonio Casanova, Bruno Feijo and Antonio Furtado</strong>: From News to Stories via an AI-supported Retelling Process</li>
    <li><strong>Kevin Valencia-Aragón, Hugo Arias-Flores, Mireya Zapata, Luis Aguirre-Morales and Sandra Sanchez-Gordon</strong>: Learning Through Play: Implementing an Educational Escape Room for Teaching Traditions and Culture</li>
    <li><strong>Robin Horst, Dung Trinh and Ralf Doerner</strong>: Generative Multimodal Content Creation with Location-Aware Context for Gamified Mobile Assisted Language Learning Apps Using Large Language Models</li>
    <li><strong>Kamyab Ghorbanpour, Michał Klincewicz, Paris Mavromoustakos Blom and Pieter Spronck</strong>: The Blind Gamer: Examining Ethical Agency Through Choice Blindness in Game Design</li>
    <li><strong>Erik Berglund and Filip Josefsson</strong>: How to Turn a Platformer Game into a Casual Exergame for Combating Office Workers’ Sedentary Behavior:  An Exploratory Single-Case Pilot Study</li>
    <li><strong>Nima Zargham, Aaron Merkord, Ameneh Safari, Leon Tristan Dratzidis and Rainer Malaka</strong>: "Can You Feel Me Now?" Exploring Player Empathy in AI-Based NPC Conversations</li>
    <li><strong>Chenwei Liang, Rui Wang and Jun Hu</strong>: EchoArtLink: Enhancing Social Connectedness between Parents and Children Living Apart through Digital Sound Visualization</li>
    <li><strong>Melina Rose, Alessandra Antonaci, Martin Bonnet and Roland Klemke</strong>: Learning success, engagement and fun: Evaluating an educational game in higher education as replacement for a homework assignment.</li>
    <li><strong>Christoph Lürig and Fabian Fell</strong>: A Framework for Explainable AI in Wargames to Understand Strategies</li>
    <li><strong>Antonio Calvo-Morata, Cristina Alonso-Fernández and Baltasar Fernández-Manjón</strong>: Design of a serious game to challenge sexism</li>
    <li><strong>Leon Tristan Dratzidis, Nima Zargham and Rainer Malaka</strong>: "Follow My Lead": Role of AI-Based NPC Autonomy in Player-NPC Collaboration</li>
    <li><strong>Ishika Gupta and Girish Dalvi</strong>: Characterizing Social Interaction in Tabletop  Games: A Constructive Conceptual Analysis</li>
    <li><strong>Afro Ambanelli, Paolo Ciancarini, Angelo Di Iorio, Davide Falessi, Andrea Manzo and Massimo Venuto</strong>: Fewer Draws, More Fun: searching for Unbalanced Positions in Chess</li>
    <li><strong>Tianle Liang, Kieran Rosenfeld and Nathan Lu</strong>: Optimizing Random Forest Multi-Classification and Gini-Based Feature Analysis of Board Game Success via BGG Characteristic Data</li>
    <li><strong>Alejandro Villar, Sergio Baña, Juan Diego Mendoza, Laura Gómez, Javier Muñoz and Carlos León</strong>: Experienced video game players interaction preferences with game controllers and haptic gloves</li>
    <li><strong>Marius Grießhammer and Maic Masuch</strong>: 200 VR-Sessions with Children - Practical Challenges and Educational Insights Into Conducting a Longitudinal VR-Study in Primary School</li>
    <li><strong>Joo-Eun Kang and Jae Jun Lee</strong>: Evaluating Colorblind-Friendly Design for Equitable Play in Mobile Puzzle Games</li>
    <li><strong>Lorenzo James, Emanuele De Pellegrin, Laura Genga, Barbara Montagne and Pieter Van Gorp</strong>: Automated Planning of Entertainment Content for Digital Health Interventions: A Technical Feasibility Study on Balance VS Fun</li>
    <li><strong>Enrica Loria, Alessia Antelmi, Carmine Spagnuolo and Johanna Pirker</strong>: Stay and Play – Modeling Social Influence of Players in the Steam Gaming Community</li>
    <li><strong>Pablo Gutiérrez-Sánchez, Pedro A. González-Calero, Marco A. Gómez-Martín, Pedro P. Gómez-Martín and Ruck Thawonmas</strong>: Bootstrapping Interactive Treasure Hunts in Cultural Heritage Sites: An LLM-Based Approach</li>
    <li><strong>Pedro Garruço, Licínio Roque and Luís Lucas Pereira</strong>: Interaction and Emotion: A Phenomenological Study of a Playable Generative Lansdcape</li>
    <li><strong>Mehrdad Bahrini, Violetta Burdina, Karsten Sohr and Rainer Malaka</strong>: Game Elements in Cybersecurity Education: Hype or Help?</li>
    <li><strong>Ardiawan Bagus Harisa, Muhammad Alifian Aqshol, Pulung Nurtantio Andono and Wen-Kai Tai</strong>: Pacing Control with Wave Function Collapse in Strategy  Game Map Generation</li>
    <li><strong>Ayumi Ohnishi, Kazuki Ohmura, Tsutomu Terada and Masahiko Tsukamoto</strong>: Vectorigger: A Method of Inducing Vection Using a Wearable LED Array</li>
    <li><strong>Naoto Nishida, Yusaku Maeda, Kamui Sato, Sho Sakurai, Koichi Hirota and Takuya Nojima</strong>: Parablade: A Proposal of Chambara Based on Augmented Sports - A Study of Appropriate Game Balancing Methods</li>
    <li><strong>Sotaro Yokoi, Ryo Ohara, Kohei Murayama, Kizashi Nakano and Takuji Narumi</strong>: What Does an Angel’s Halo Taste Like?: Exploring the Structure of Gustatory Comedy through Case Analysis of Ajigiri</li>
    <li><strong>Shunta Komatsu, Tomonori Kubota, Satoshi Sato and Kohei Ogawa</strong>: Manzai Karaoke: A Real-time Visual Guidance System for Assisting Japanese Double Act Performance</li>
    <li><strong>Marius Grießhammer, Christian Kißler, Maic Masuch and Jörg-Tobias Kuhn</strong>: Math Valley - On Designing an Embodied VR Learning Application for Primary School Students</li>
  </ul>

  <h4>Work-in-progress</h4>
  <ul>
    <li><strong>Miu Moritani and Kazutaka Kurihara</strong>: Implementation and Evaluation of an Automated Eye Dropping System Using Games</li>
    <li><strong>Bruno Silva, Windson Viana de Carvalho, José G. R. Maia and Pedro Oliveira</strong>: Refining Pervasive Game Design with LLMs: Insights, Limitations, and Challenges</li>
    <li><strong>Luiggi Ramos, Johan Baldeón and María-José Espinosa-Chueca</strong>: Mi Librero de Aventuras: A Novel Configurable Serious Game for Personalized Science and Technology Learning in Peruvian Primary Education</li>
    <li><strong>Nicko Caluya, Yuta Hirahata and Damon Chandler</strong>: Gestalt Approaches to Hinting in Games: A 3D Connect Four Case Study</li>
    <li><strong>Wanosuke Ito, Rion Yukino and Akihiro Matsuura</strong>: A VR System for Detecting Static Electricity as Invisible Creature</li>
    <li><strong>Mohd. Nor Akmal Khalid</strong>: Simulating AI-Human Collaborative Strategies in Sudoku Puzzle Generation</li>
    <li><strong>Muhammad Faiq Haikal Bin M Haikal, Deb Kumar Ghosh, Jordan K. Lay, Nicko Caluya and Damon Chandler</strong>: ChordFusion: Interactive Piano Training in Mixed Reality with Custom Gloves</li>
    <li><strong>Teu Nishihara and Osamu Ichikawa</strong>: Proposal of Affective Music Features Utilizing Playlists as Collective Intelligence</li>
    <li><strong>Andrea Caruso, Priscilla Pia Papa, Giovanni Schembra and Massimiliano Salfi</strong>: VR Gaming approach to language comprehension in children with Autism</li>
    <li><strong>Jannicke Baalsrud Hauge, Polona Caserman and Heinrich Söbke</strong>: How does Entertainment Computing  contribute to the Sustainable Development Goals?  A Rapid Literature Review</li>
    <li><strong>Guhan Elangovan, Nicko Caluya and Damon Chandler</strong>: Physics Virtual Classroom: Leveraging Virtual Reality Sandboxes for Learning Classical Mechanics</li>
    <li><strong>Kento Saito and Akihiro Matsuura</strong>: Novel Shooting Techniques Using Recursive Graphic Generation Based on Video Feedback</li>
    <li><strong>Toshiro Kashiwagi and Kumiyo Nakakoji</strong>: Designing Physically Fiction: Suspension of Disbelief in Interaction with MR Environments</li>
    <li><strong>Kana Yamada, Aiko Uemura and Norimasa Yoshida</strong>: Automatic Piano Arrangement for Three-part Choral of Female Voices</li>
    <li><strong>Sharmishtha Sen and Harshita Prakash</strong>: Emotion-Driven Gameplay: Exploring Gesture-Based Interactions in XR Environments</li>
    <li><strong>Shuo Zhou, Akira Shikida and Norihisa Segawa</strong>: "Hand-in-Hand" Learning: A Novel Method for Instrument Skill Training with Electrical Muscle Stimulation</li>
    <li><strong>Jules van Gurp and Erik van der Spek</strong>: Heist Extravaganza: A Design Framework and Exemplars of Asymmetric Virtual Reality Controllers Based on Player Profiles</li>
    <li><strong>Keita Yamazaki, Masayoshi Itoh and Kentaro Fukuchi</strong>: JumpLab: An Interactive Learning Tool for Parameter Tuning in the Pre-production Stage</li>
  </ul>
  <h4>Interactive Entertainment Showcase</h4>
  <ul>
    <li><strong>Allan Fowler, Tanya Ruka, Mia Bai, Michaela Dodd and Mark
Harvey</strong>: Kaiman¯aki o te Ngahere: Guardians of the Forest</li>
    <li><strong>Masatoshi Hamanaka</strong>: Demonstration of Visualizer for Beats and Scratches of
Breaking DJ Performances</li>
    <li><strong>Gou Koutaki and Masatoshi Hamanaka</strong>: Automatic Fingering Saxophone Quartet System</li>
    <li><strong>Kaimu Harada and Sachiko Kodama</strong>: Development of a Dialogue Agent System Expressed in a
Two-Dimensional Manga-Anime Style and Design of the
Original Artificial Intelligence Character “Kohane”</li>
    <li><strong>Taito Matsumoto, Masahiro Kawamori and Masataka Imura</strong>: VR Batting Practice System Integrated with Visual Training</li>
    <li><strong>Katsuhisa Tanaka, Masahiro Kawamori and Masataka Imura</strong>: Rapid Input Device with Independent Sensing of Input
Intention and Input Target</li>
    <li><strong>Thomas Dallard and Akinori Ito</strong>: Transformer based Adaptive Music Generation for Video Games</li>
    <li><strong>Masahiro Kawamori and Masataka Imura</strong>: VR Game Aimed at Recovering Visual Acuity</li>
    <li><strong>Yasuo Kawai</strong>: Development of Urban Disaster Prevention  Shooting Game
Using Spatial Reproduction Display</li>
    <li><strong>Itsuki Okamo, Kohei Matsumura and Haruki Takahashi</strong>: Guitar Clicker: A Gamified Approach to Motivating Guitar
Practice for Beginners</li>
    <li><strong>Yuunosuke Suenaga, Gaku Kutsuzawa, Haruki Takahashi and
Kohei Matsumura</strong>: Emo-pathy: An Emotion-sharing System for Promoting
Psychological Well-Being through Supportive Interactions</li>
    <li><strong>Rintaro Makino, Yuki Okafuji, Haruki Takahashi and Kohei
Matsumura</strong>: Multiple Robots Enable Moderate Facilitation through
Approaching Movements in Group Discussions</li>
    <li><strong>Daiki Mima, Haruki Takahashi and Kohei Matsumura</strong>: Arcade Games Generating an Atmosphere to Promote Exercise</li>
  </ul>
  <h4>Student Competition</h4>
  <ul>
    <li><strong>Harunobu Kaneko, Kota Aoki and Yoshio Iwai</strong>: Heaviest Listener: Immersive Radio Experience Simulation by Sending Japanese E-mail</li>
    <li><strong>Jules van Gurp and Erik van der Spek</strong>: Asymmetric VR Game Heist Extravaganza</li>
  </ul>

</Layout>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5em;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 0.75em;
    text-align: left;
  }

  th {
    background-color: #f5f5ff; /* 淡い紫系 */
    font-weight: bold;
  }

  tr:nth-child(even) td {
    background-color: #fafafa; /* 偶数行の背景色で視認性UP */
  }

  table caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 0.5em;
  }


  .responsive-table-container {
    overflow-x: auto;
  }

  table.responsive-table {
    /* border-collapse: collapse;
    text-align: left;
    width: 100%; */
	  width: 100vw;
  max-width: none;
  margin-left: calc(-50vw + 50%);
  }

  @media (max-width: 768px) {
    table.responsive-table {
      min-width: 700px;
    }
  }

  thead {
    background-color: #fde7a7;
  }
</style>