---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Registration"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('Mar 23 2025')}
>
 

<p>Registration is scheduled to open in <strong>late April</strong>.</p>
<p>The early bird registration deadline is <strong>June 18, 2025 (tentative)</strong>.</p>

<h4>Conference Fee</h4> 

<table>
	<tr>
	  <th>Category</th>
	  <th>Early (JPY)</th>
	  <th>Late (JPY)</th>
	</tr>
	<tr>
	  <td>IFIP Member (including IPSJ members)</td>
	  <td>72,000</td>
	  <td>90,000</td>
	</tr>
	<tr>
	  <td>IFIP Non-member</td>
	  <td>80,000</td>
	  <td>100,000</td>
	</tr>
	<tr>
	  <td>Student</td>
	  <td>40,000</td>
	  <td>50,000</td>
	</tr>
  </table>
  
  <p class="note">* IFIP membership includes members of IPSJ (Information Processing Society of Japan).</p>
  




</Layout>
