---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Registration"
	description="The 24th International Federation for Information Processing – International Conference on Entertainment Computing (IFIP-ICEC 2025)"
	pubDate={new Date('Mar 23 2025')}
>
 

<!-- <p>Registration is scheduled to open in <strong>late April</strong>.</p> -->
The early bird registration deadline is <strong>June 18, 2025</strong>.</p>

<h4>Conference Fee</h4> 

<table>
	<tr>
	  <th>Category</th>
	  <th>Early (JPY)</th>
	  <th>Late (JPY)</th>
	</tr>
	<tr>
	  <td>IFIP Member (including IPSJ members)</td>
	  <td>72,000</td>
	  <td>90,000</td>
	</tr>
	<tr>
	  <td>IFIP Non-member</td>
	  <td>80,000</td>
	  <td>100,000</td>
	</tr>
	<tr>
	  <td>Student</td>
	  <td>40,000</td>
	  <td>50,000</td>
	</tr>
  </table>
  
<ul>
	<li>IFIP membership includes members of IPSJ (Information Processing Society of Japan)</li>
	<li>Each paper must be with one regular registration (non-student) for its presentation and publication</li>
	<li>No multiple-papers discounts</li>
</ul> 
  

<h4>Banquet Introduction</h4>
<p>We cordially invite you to attend the prestigious banquet for the International Conference on Entertainment Computing 2025, to be held in Tokyo.<br />
This year's conference banquet will take place at <strong>Meiji Kinenkan</strong>, a venue of significant historical and cultural importance located within the serene Meiji Jingu Shrine forest:<br />
<a href="https://www.meijikinenkan.gr.jp/english/about/index.html">https://www.meijikinenkan.gr.jp/english/about/index.html</a>.<br />
We would like to provide a gala dinner conducive to both enjoyment and professional engagement, enhancing your overall conference experience.</p>


<h4>Sign Up</h4>
<p>Sign up as ConfAid user.
If you have already created your account on ConfAid system, please skip this procedure and log in ConfAid system.
The ConfAid will automatically send an e-mail for confirmation after creating a user account.
If you can not find the confirmation e-mail, it might have been sent to your spam box.<br />
<a href="https://confaid.com/mi/users/create/icec2025" class="button">Sign Up</a></p>


<h4>Login</h4>
<p>Log in ConfAid to proceed with your registration.<br />
<a href="https://confaid.com/mi/users/index/icec2025" class="button">Login</a></p>

<h4>Refund and Cancellation Policies</h4>
<p>As a general rule, a registration fee will be incurred when you register on the Web. 
Since payment has been processed at this point, 
the participation fee will not be refunded even if you are unable to attend for any reason (including for the Banquet).</p>
<p>Unforeseen circumstances refer to unexpected events that prevent ICEC 2025 from proceeding with the conference as planned. 
Examples of such circumstances include, but are not limited to, inclement weather, natural disasters, public health emergencies (such as COVID-19), 
unavailability of the conference venue, and technical challenges. 
Please note that even under these unforeseen circumstances, a full refund cannot be guaranteed.</p>
<p>For more questions, please contact: ifip-icec2025 [at] easychair.org</p>

<h4>About Visa</h4>
<p>Each of all the visitors must have a valid passport to enter Japan. In addition, participants from certain countries require to have their visas. To confirm your requirements, please contact the Japanese Embassy or Consulate nearest to your residential area, 
  or visit the website of the Ministry of Foreign Affairs of Japan ( <a href="https://www.mofa.go.jp/j_info/visit/visa/index.html" target="_blank">https://www.mofa.go.jp/j_info/visit/visa/index.html</a> ).</p>

<h5>Request for Documents for VISA</h5>
<p>The visa support is aimed for the convenience of the visa application procedure for the conference participants and the accompanying persons.</p>

<p>1：Before your request or inquiry, you need to complete the registration, payment and book your air ticket and accommodation.<br />
2：Please send an email with your name and organization to the following e-mail address (replace [at] to @).<br />
<strong>visa [at] confaid.com</strong>（Secretariat: KUWON Inc.）</p>

<p>Please note that we cannot guarantee that the documents we issue will allow you to travel.<br />
Deadline for request of VISA support : <strong>July 17, 2025</strong></p>

<h5>Flow of Application</h5>
<img src="/visa.png" />

</Layout>

<style>
  a.button {
    display: inline-block;
    background-color: #6942ff; /* 紫系 */
    color: white;
    padding: 0.6em 1.2em;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }

  a.button:hover {
    background-color: #5635d7; /* hover時に少し濃く */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5em;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 0.75em;
    text-align: left;
  }

  th {
    background-color: #f5f5ff; /* 淡い紫系 */
    font-weight: bold;
  }

  tr:nth-child(even) td {
    background-color: #fafafa; /* 偶数行の背景色で視認性UP */
  }

  table caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
</style>